/* Container das abas */
.tabs {
    display: flex;
    border-bottom: 2px solid #444;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 8px 8px 0 0;
  }
  
  /* Botões das abas */
  .tab-button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ccc;
    transition: all 0.3s ease;
  }
  
  /* Aba ativa */
  .tab-button.active {
    background-color: #222;
    border-bottom: 2px solid #00bcd4;
    color: #00bcd4;
  }
  
  /* Hover das abas */
  .tab-button:hover {
    background-color: #555;
  }
  
  /* Conteúdo das abas */
  .tab-content {
    padding: 20px;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 0 0 8px 8px;
    font-size: 14px;
    color: #ddd;
  }
  
  /* Ajustando o texto no conteúdo */
  .tab-content pre {
    font-size: 13px;
    color: #aaa;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    overflow-x: auto;
  }

  .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
  }